* {
  /* border: 1px solid red;*/
  margin: 0px;
  box-sizing: border-box;
}
#root {
  --box-color: rgb(200,100,140);
  --box-size: calc(9vw);
}

.app {
  font-family: sans-serif;
}
/*
.space {
  background-color: chartreuse;
  width: 100vw;
  height: 100vw;
}
*/
.board {
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-wrap: wrap;
}
button{
  border: 1px solid white;
  margin:2px;
}

.square {
  
  background-color: var(--box-color);
  width: var(--box-size);
  height: var(--box-size);
}
/*
.xy-position {
  left: calc(50% - 5vw);
  top: calc(50% - 5vw);
}
*/
